<div class="ui vertical footer segment">
  <div class="ui divider"></div>
  <a href="https://github.com/paradzayi/my-website" class="ui tiny right floated blue  button">
    <i class="large github icon"></i>View this website on GitHub</a>
</div>
