<div class="ui vertical footer segment">
  <div class="ui divider"></div>
  <div class="ui secondary container menu">
    <div class="right menu">
      <div class="item">
        <a class="ui violet basic button">
          <i class="twitter icon"></i>
          follow
        </a>
      </div>
      <div class="item">
        <a class="ui violet basic button">
          <i class="facebook icon"></i>
          like
        </a>
      </div>
      <div class="item">
        <a href="https://github.com/paradzayi/my-website" class="ui tiny right floated blue  button">
          <i class="large github icon"></i>View the source code for this website on GitHub</a>
      </div>
    </div>
  </div>
</div>
