<!-- CONTAINS MY PERSONAL DETAILS AND IMAGE -->
<div class="my column">

    <!-- THE CARD WITH THE IMAGE NAME AND ROLE -->
      <div class="ui card">
        <div class="image" >
          <img src="img/profile.jpg" alt="">
        </div>
        <div class="content">
          <div class="ui blue ribbon basic label">
            <p><strong>Kudakashe Paradzayi</strong></p>
            < Software Developer />
          </div>
        </div>
      </div>

      <!-- QUOTE OF THE SEASON -->
      <div class="ui blue message" >
        <p><i class="quote left icon"></i></p>
        <i class="terminal icon"></i> Slamming the keyboard like I just don't care!
        <p><i class="quote right icon"></i> - @KayP</p>
      </div>
</div> <!--/  THE CARD WITH THE IMAGE NAME AND ROLE -->
