<!-- MY ACADEMIC STUFF AND PROFILE -->
<div class="item">
  <div class="ui basic segment">
    <div class="ui relaxed list">


      <!-- THE SKILLS -->
      <div class="item">
        <h5 class="ui header"><i class="blue pencil icon"></i>Skills</h5>
        <div class="ui horizontal mini labels">
          <div class="ui orange label">
            Javascript
          </div>
          <div class="ui green label">
            Node.js
          </div>

          <div class="ui black label">
            git
          </div>
          <div class="ui green label">
            Vue.js
          </div>
          <div class="ui pink label">
            CSS
          </div>
          <div class="ui brown label">
            HTMl
          </div>
        </div>
      </div>

      <div class="ui divider"> </div>
      <!-- EDUCATION -->
      <div class="item">
        <h5 class="ui header"><i class="blue student icon"></i>Education</h5>
        <div class="ui list">
          <div class="item">
            O'Level
            <i class="ui right floated blue basic mini label"> 11 As </i>
          </div>
          <div class="item">
            A'Level
            <i class="ui right floated blue basic mini label"> 13 Points </i>
          </div>
        </div>
    </div>

    <div class="ui divider"> </div>

    <!-- PROFILE -->
    <div class="item">
      <h5 class="ui header"><i class="blue user icon"></i>Profile</h5>
      <div class="ui relaxed list">
        <div class="item">
          <div class="ui right floated content">+263 778 271 391</div>
          <div class="ui horizontal label">
            <i class="phone icon"></i>
          </div> Phone
        </div>
        <div class="item">
          <div class="ui right floated content">
          <a href="mailto:kgparadzayi@gmai.com?subject=Wasup">kgparadzayi@gmail.com</a>
        </div>
        <div class="ui horizontal label">
          <i class="mail icon"></i>
        </div> Email
        </div>
        <div class="item">
          <div class="ui right floated content">
            <a href="https://github.com/paradzayi">github.com/paradzayi</a>
          </div>
          <div class="ui horizontal label">
            <i class="github icon"></i>
          </div> Github
        </div>
      </div>
    </div><!-- PROFILE -->

    <div class="ui divider"></div>

    <!-- LOCATION -->
    <div class="item">
      <h5 class="ui header"><i class="blue marker icon"></i>location</h5>
      <div class="description">
        Harare, Zimbabwe
      </div>
    </div><!-- LOCATION -->

  </div>
</div>
</div> <!--/ MY ACADEMIC STUFF AND PROFILE -->
