<div class="ui one cards">

  <!-- THE CARD THAT CONTAINS THE DESCRIPTION OF A PROJECT -->
  <div class="ui card">

    <!-- PROJECT NAME -->
    <div class="ui top attached raised segment">
      <h3 class="header"><i class="blue lock icon"></i>Computer Management System</h6>
    </div><!--/ PROJECT NAME -->

    <!-- PROJECT BODY -->
    <div class="content">

      <!-- PROJECT METADATA -->
      <table class="ui blue definition fluid table">

        <tbody>
          <tr>
            <td>
              <div class="ui blue ribbon label">
              Client
            </div>
            </td>
            <td class="right aligned"><a href="http://www.andersonadventist.ac.zw">Anderson High School</a></td>
          </tr>
          <tr>
            <td>
              <div class="ui blue ribbon label">
                Date
              </div>
            </td>
            <td class="right aligned">2016</td>
          </tr>
          <tr>
            <td>
              <div class="ui blue ribbon label">
                Service
              </div>
            </td>
            <td class="right aligned">
              <div class="ui basic labels">
                <div class="ui basic blue label">
                  <i class="desktop icon"></i>
                  Desktop Development
                </div>
                <div class="ui basic blue label">
                  <i class="lock icon"></i>
                  Security
                </div>
              </div>
            </td>
          </tr>
        </tbody>

      </table><!--/ PROJECT METADATA -->

      <!-- PROJECT DESCRIPTION -->
      <div class="description">

        <p>
          ACMS does an incredible job of allocating time to the students as they use the library computers. This is because the computer to pupil ratio is high so the students have to share the computers and give each other a chance to also use them.
        </p>
        <p>
          I worked on this project in 2016 while I was still in high school as an extra carricuar activity. I never thought it was going to be big, but today I can proudly say about 60 computers at Anderson Adventist High School run the software I developed.
        </p>
        <a href="https://www.youtube.com/watch?v=rz0uEXUPHvc&feature=youtu.be" class="ui tiny youtube button">
          <i class="large youtube icon"></i>
          View the project presentation on Youtube
        </a>

      </div><!--/ PROJECT DESCRIPTION -->
    </div><!--/ PROJECT BODY -->
  </div><!--/ THE CARD THAT CONTAINS THE DESCRIPTION OF A PROJECT -->

  <!-- THE CARD THAT CONTAINS THE DESCRIPTION OF A PROJECT -->
  <div class="ui card">

    <!-- PROJECT NAME -->
    <div class="ui top attached raised segment">
      <h3 class="header"><i class="orange globe icon"></i>GISkonsult</h6>
    </div><!--/ PROJECT NAME -->

    <!-- PROJECT BODY -->
    <div class="content">

      <!-- PROJECT METADATA -->
      <table class="ui orange definition fluid table">

        <tbody>
          <tr>
            <td>
              <div class="ui orange ribbon label">
              Client
            </div>
            </td>
            <td class="right aligned"><a href="http://giskonsult.com">GISkonsult &amp; Gweru City Council</a></td>
          </tr>
          <tr>
            <td>
              <div class="ui orange ribbon label">
                Date
              </div>
            </td>
            <td class="right aligned">2017</td>
          </tr>
          <tr>
            <td>
              <div class="ui orange ribbon label">
                Service
              </div>
            </td>
            <td class="right aligned">
              <div class="ui basic labels">
                <div class="ui basic orange label">
                  <i class="wifi icon"></i>
                  Web Development
                </div>
                <div class="ui basic orange label">
                  <i class="marker icon"></i>
                  Geographic Information Systems
                </div>
              </div>
            </td>
          </tr>
        </tbody>

      </table><!--/ PROJECT METADATA -->

      <!-- PROJECT DESCRIPTION -->
      <div class="description">

        <p>
          I am currently working at GISkonsult plc on a project that I can not fully disclose due to an NDA that I signed.
        </p>

      </div><!--/ PROJECT DESCRIPTION -->
    </div><!--/ PROJECT BODY -->
  </div><!--/ THE CARD THAT CONTAINS THE DESCRIPTION OF A PROJECT -->
</div>
