<!-- THE TIMELINE OF MY PERSONAL PUBLIC EVENTS -->
<div class="ui feed">

  <!-- ALEVEL RESULTS -->
  <div class="event">
    <div class="label">
      <i class="student icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        I recieved my Advanced Level results
        <div class="date">
          21 Feb 2017
        </div>
      </div>
      <div class="extra text">
        My hard work had paid off, the late nights and the early mornings. Getting my results I smiled as I saw the following:
        <div class="ui blue segment">
          <div class="ui list">
            <div class="item">
              <i class="ui right floated green basic label">A</i>
              Computer Science
            </div>
            <div class="item">
              <i class="ui right floated orange basic label">B</i>
              Mathematics
            </div>
            <div class="item">
              <i class="ui right floated orange basic label">B</i>
              Physics
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/ ALEVEL RESULTS -->

  <!-- Joined giskonsult -->
  <div class="event">
    <div class="label">
      <i class="orange globe icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        I joined <a href="http://giskonsult.com">GISkonsult plc</a>
        <div class="date">
          27 November 2016
        </div>
      </div>
      <div class="extra text">
        <p>
          When I joined GISkonsult I had very little knowledge of HTML/CSS and absolutely no knowlegde of Nodejs and server side technologies. So I was hesitant at first.
        </p>
        <p>
          I was recruited on the basis that I had developed a functional application that was implemented by Anderson Adventist High School. So I finally agreed and I am having a great experience there. Everyday I learn new skills but most importantly I'm learning how to learn.
        </p>
      </div>
    </div>
  </div><!--/ Joined giskonsult -->

  <!-- Software Award-->
  <div class="event">
    <div class="label">
      <i class="trophy icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        I got awarded for software development by <a href="http://www.andersonadventist.ac.zw">Anderson High School</a>
        <div class="date">
          2 October 2016
        </div>
      </div>
      <div class="extra text">
        <p>
          During the annual speech and prize giving day I was given a special award. That award recognized the <a href="/projects#anderson">software </a>I had developed for Anderson Adventist High School library.
        </p>
        <p>
          This software was showcased at the Science and Technology Exhibition held at Chaplin High School.
        </p>
      </div>
    </div>
  </div><!--/ software award-->

</div><!--/  THE TIMELINE OF MY PERSONAL PUBLIC EVENTS -->
